lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
dist
node_modules
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.tsbuildinfo
.npm
.yarn
.eslintcache
.env
.vim
.idea
.vscode
.DS_Store
Thumbs.db
yarn.lock

.yarn/*
!.yarn/cache/
!.yarn/releases/
!.yarn/plugins/
!.yarn/versions/
!.yarn/sdks/